IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks/CopilotIndices/17.13.444.19527/CodeChunks.db
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks/copilot-chat/52f8111c/sessions/883e2e1d-cc6f-4840-adfd-f0c9e65d5619
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks/CopilotIndices/17.13.444.19527/CodeChunks.db-shm
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
/IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks.csproj.dtbcache.json
IPL-TeSP-PSI-DA-Projeto-VisualStudio-iTasks/.vs/iTasks/FileContentIndex/17964b2f-2665-41d1-b3c6-0228d2dc190a.vsidx
